@model NetworkMapData.Network

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Network</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NetworkAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetworkAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Netmask)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Netmask)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gateway)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gateway)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Broadcast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Broadcast)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
